/* CSS Reset */
@import url("./reset.css");

/* Global Styles & Variables */
html {
  scroll-behavior: smooth;
}

:root {
  --primary-dark-violet: hsl(256, 26%, 20%);
  --primary-grayish-blue: hsl(216, 30%, 68%);
  --neutral-very-dark-violet: hsl(270, 9%, 17%);
  --neutral-dark-grayish-violet: hsl(273, 4%, 51%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
  --shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
  --padding: 7.2rem;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.karla-400 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla-500 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.karla-700 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1,
h2 {
  font-size: clamp(2.4rem, 4vw, 2.7rem);
  line-height: 1;
}

h3 {
  font-size: clamp(1.63rem, 4vw, 1.81rem);
}

p,
a {
  font-size: 1rem;
  line-height: 2;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  width: 100%;
  box-shadow: var(--box-shadow);
  object-fit: contain;
}

.btn {
  padding: 0.5rem 2rem;
  border: 2px solid var(--primary-dark-violet);
  color: var(--primary-dark-violet);
  background: transparent;
  letter-spacing: 1.5px;
  width: max-content;
}

.btn:hover {
  color: var(--neutral-very-light-gray);
  background-color: var(--primary-dark-violet);
}

.btn-white {
  color: var(--neutral-very-light-gray);
  border-color: var(--neutral-very-light-gray);
}

.btn-white:hover {
  color: var(--primary-dark-violet);
  background-color: var(--neutral-very-light-gray);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding) 1rem;
  text-align: center;
}

/* Header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 0.8rem;
}

header nav a {
  display: none;
}

header nav button {
  background-color: transparent;
  border: none;
}

/* Main */
/* Hero Section */
#hero {
  background-color: var(--primary-dark-violet);
  color: var(--neutral-very-light-gray);
}

#hero .container {
  display: grid;
  gap: 1rem;
  padding: 0;
}

#hero .container > div {
  height: max-content;
}

.hero-image {
  max-width: calc(var(--padding) * 4);
}

.hero-content {
  padding: 5rem 2rem;
}

.hero-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.hero-content hr {
  display: none;
}

/* Features Section */
#features hr {
  width: 9rem;
  margin: 0 auto 3rem auto;
}

#features h2 {
  margin-bottom: 5rem;
}

.features-list {
  display: grid;
  gap: 3rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.feature > div {
  width: 5rem;
}

#cta {
  padding: 1rem;
}

#cta .container {
  padding: 5rem 1rem;
  text-align: center;
  background-color: var(--primary-dark-violet);
  color: var(--neutral-very-light-gray);
  display: grid;
  align-items: center;
  gap: 2rem;
}

#cta .container a {
  justify-self: center;
}

/* Footer */
footer {
  background-color: var(--neutral-very-light-gray);
}

.footer-top .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}

.footer-top hr {
  width: 100%;
}

.footer-bottom .container {
  display: grid;
  gap: 3rem;
  padding-top: 2rem;
}

.footer-category {
  display: grid;
  gap: 1rem;
  height: max-content;
}

.footer-category p {
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--neutral-dark-grayish-violet);
  text-transform: uppercase;
}

.footer-category a {
  color: var(--primary-dark-violet);
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
