/* CSS Reset */
@import url("./reset.css");

/* Global Styles & Variables */
html {
  scroll-behavior: smooth;
}

:root {
  --primary-dark-violet: hsl(256, 26%, 20%);
  --primary-grayish-blue: hsl(216, 30%, 68%);
  --neutral-very-dark-violet: hsl(270, 9%, 17%);
  --neutral-dark-grayish-violet: hsl(273, 4%, 51%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
  --shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.karla-400 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla-500 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.karla-700 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  padding: 0.5rem 2rem;
  border: 2px solid var(--primary-dark-violet);
  color: var(--primary-dark-violet);
  background: transparent;
  font-weight: 600;
  font-size: 0.75rem;
  width: max-content;
}

.btn:hover {
  color: var(--neutral-very-light-gray);
  background-color: var(--primary-dark-violet);
}

.btn-white {
  color: var(--neutral-very-light-gray);
  border: 1px solid var(--neutral-very-light-gray);
}

.btn-white:hover {
  color: var(--primary-dark-violet);
  background-color: var(--neutral-very-light-gray);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 0.8rem;
}

header nav a {
  display: none;
}

header nav button {
  background-color: transparent;
  border: none;
}

/* Main */
/* Hero Section */
#hero {
  background-color: var(--primary-dark-violet);
  color: var(--neutral-very-light-gray);
  display: grid;
  gap: 1rem;
}

#hero > div {
  height: max-content;
}

#hero img {
  width: 100%;
  box-shadow: var(--box-shadow);
}

.hero-content {
  padding: 5rem 1rem;
}

.hero-content > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-content h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 1;
}

.hero-content hr {
  display: none;
}

/* Features Section */
#features {
  padding: 5rem 1rem;
}

#features img {
  box-shadow: var(--shadow);
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
