/* CSS Reset */
@import url("./reset.css");

/* Global Styles & Variables */
:root {
  --primary-dark-violet: hsl(256, 26%, 20%);
  --primary-grayish-blue: hsl(216, 30%, 68%);
  --neutral-very-dark-violet: hsl(270, 9%, 17%);
  --neutral-dark-grayish-violet: hsl(273, 4%, 51%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.karla-400 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla-700 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-dark-violet);
  color: var(--primary-dark-violet);
  background-color: var(--neutral-very-light-gray);
  font-weight: 700;
  width: max-content;
}

.btn-white {
  color: var(--neutral-very-light-gray);
  background-color: var(--primary-dark-violet);
  border: 1px solid var(--neutral-very-light-gray);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header nav a {
  display: none;
}

header nav button {
  background-color: transparent;
  border: none;
}

/* Main */
/* Hero Section */
#hero {
  background-color: var(--primary-dark-violet);
  color: var(--neutral-very-light-gray);
  display: grid;
  gap: 1rem;
}

#hero > div {
  height: max-content;
}

#hero img {
  width: 100%;
  /* display: none; */
}

.hero-content {
  padding: 5rem 1rem;
}

.hero-content > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-content h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 1;
}

.hero-content hr {
  display: none;
}

/* Features Section */
#features {
  padding: 5rem 1rem;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive Styles for Tablet Screens */
@media screen and (min-width: 768px) {
  header nav {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  header nav a {
    display: block;
  }

  header nav button {
    display: none;
  }

  #hero {
    padding: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-image {
    margin-bottom: -10rem;
  }

  .hero-content {
    padding: 0;
    order: -1;
  }

  .hero-content > div {
    display: flex;
    text-align: left;
    align-items: flex-start;
    gap: 1rem;
  }

  .hero-content hr {
    display: block;
    width: 5rem;
    margin-bottom: 5rem;
  }

  .hero-content p {
    font-size: 0.8rem;
  }

  #features {
    padding: 5rem;
  }
}
